<form action="/places" method="post">
  <p>Fields marked with a * are required</p>
  <input id="city" name="city" type="text" placeholder="What city?" required>*<br>
  <input id="durationOfStay" name="durationOfStay" type="text" placeholder="How long did you stay?" required>*<br>
  <input id="travelBuddy" name="travelBuddy" type="text" placeholder="Who did you travel with if any?"><br>
  <input id="journalEntry" name="journalEntry" type="text" placeholder="Additional notes"><br>
  <button type="submit">Submit</button><br>
  <a href="/">Go back</a>
</form>